doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='css/bootstrap.min.css')
        script(src=targetServer + 'js/bootstrap.bundle.min.js"')
    body
        main
            block header
                header.header
                    h1 #{title}
            block content